---
import Layout from '@/layouts/Layout.astro';
import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Skills from '@/components/sections/Skills.astro';
import Projects from '@/components/sections/Projects.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Hero from '@/components/sections/Hero.astro';
---

<Layout title="Curriculum Vitae">
	<main class="p-4 m-auto w-full">
		<Hero />
		<About />
		<Education />
		<Experience />
		<Skills />
		<Projects />
	</main>
</Layout>

<style>

</style>
